.item__list{
    background-color: #E8F3F1;
   
  }
  .selected-item{
    background-color:#A0ACBD;
    opacity: 0.5;
  }

  .name{
    background-color:#00C9A7;
    padding: 10px;
  }
  
  .type__list{
    background-color:#CDEE8F;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
  }