.App {
  text-align: center;
  color: #005A3A;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li{
  list-style: none;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin: 10px;
}
.item__list{
  background-color: #E8F3F1;
}

.name{
  background-color:#00C9A7;
  padding: 10px;
}


.type__list{
  background-color:#CDEE8F;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;

}
/* .type{
 
} */